@use '~/assets/sass/abstracts/variables' as *;
@use '~/assets/sass/abstracts/colors' as *;
@use '~/assets/sass/utilities/mixins' as *;

.section-quizes {
  gap: 2rem;
  display: flex;

  &__card {
    padding: 2rem;
    @include box(17rem);
    margin-top: -8.5rem;
    background-color: red;
    border-radius: $border-radius-middle;

    &:first-child {
      margin-left: auto;
    }
    &:last-child {
      margin-right: auto;
    }

    &--cover {
      display: flex;
      @include box(8rem);
      border-radius: 50%;
      margin: 0.5rem auto;
      align-items: center;
      justify-content: center;
      background-color: var(--color-white);
    }

    i {
      font-size: 4.5rem;
    }
  }
}
