:root {
  --color-vanilla: #f3eada;
  --color-cherry: #850e35;
  --color-pinky: #9f4261;
  --color-black: #404040;
  --color-white: #ffffff;
  --color-disabled: #a9a9a9;

  --color-blue: #024da5;
  --color-yellow: #a96702;
  --color-green: #274603;
  --color-red: #8b0210;
}
