// ------------ [ Colors ] ------------
$color-vanilla: #F3EADA;
$color-cherry: #850E35;
$color-pink: #9F4261;
$color-black: #404040;
$color-disabled: #A9A9A9;

$color-blue: #024DA5;
$color-yellow: #A96702;
$color-green: #274603;
$color-red: #8B0210;
