// ------------ [ Font-sizes ] ------------
$font-mid: 2rem;
$font-large: 6.2rem;
$font-very-large: 9.2rem;

// ------------ [ Border-radius ] ------------
$border-radius-small: 0.5rem;
$border-radius-middle: 1rem;
