@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;

.header {
  gap: 1rem;
  display: flex;
  height: 11rem;
  align-items: center;
  padding: 2rem $padding-page;
  justify-content: space-between;
  background-color: var(--color-vanilla);

  &-title {
    margin: 0;
    cursor: pointer;
    font-size: $font-large;

    a {
      text-decoration: none;
      color: var(--color-black);
    }
  }

  &-navigation {
    display: flex;
    gap: 2rem;

    &__anchor {
      font-weight: bold;
      font-size: $font-mid;
      text-decoration: none;
      color: var(--color-black);
    }
  }
}
